<%- include('header'), {seoDetails} %>


<div id="wrapper" class="wrap">

    <!-- Section start -->
    <div id="hero_header" class="hero-header section panel overflow-hidden">
        <div class="position-absolute top-0 start-0 end-0 h-400px sm:h-500px lg:h-screen xl:h-screen bg-secondary dark:bg-gray-800 z-0"></div>
        <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block" data-anime="targets: >*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
            <div class="position-absolute top-0 start-0 rotate-45" style="top: 20% !important; left: 18% !important">
                <img class="w-24px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-1.svg" alt="star-1" data-uc-svg>
            </div>
            <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                <img class="w-32px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/template/star-2.svg" alt="star-2" data-uc-svg>
            </div>
        </div>
        <div class="section-outer panel pt-9 lg:pt-10 pb-4 sm:pb-6 xl:pb-9">
            <div class="container max-w-xl">
                <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                    <div class="vstack items-center gap-2 lg:gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-850px mx-auto text-center">
                        <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Careers.</h1>
                        <p class="fs-6 sm:fs-5 text-dark dark:text-white text-opacity-70">We are looking for people that share our vision. Are you adaptable, driven, and friendly? Do you thrive in a fast-paced work environment where collaboration is the norm? If the answer is yes, then you’re a what we looking for.</p>
                    </div>
                    <div class="panel">
                        <figure class="featured-image m-0 rounded ratio ratio-2x1 rounded lg:rounded-2 uc-transition-toggle overflow-hidden">
                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/template/career.jpg" alt="Career">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div id="career_benefits" class="career-benefits section panel pb-6 xl:pb-9 overflow-hidden" data-anime="onview: -100; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
        <div class="section-outer panel">
            <div class="container max-w-lg">
                <div class="section-inner panel">
                    <div class="panel vstack max-w-850px mx-auto" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <p class="fs-5 xl:fs-3 text-dark dark:text-white text-opacity-70">
                            We love our people and want to ensure that they are supported at work and at home. That’s what helps us maintain our coveted best work-life balance award. <br>
                            Here are just some of the perks you can expect to receive while working for us:
                        </p>
                        <div class="panel mt-4 xl:mt-6">
                            <div class="row child-cols-6 lg:child-cols-4 col-match g-3">
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Competitive salary</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Health benefits</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Company equity</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Flexible schedule</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Regular outings</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Office trips</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Career growth</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Fun team</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Education benefits</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Commuter benefits</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Holidays</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel hstack gap-1">
                                        <i class="icon icon-2 unicon-checkmark text-primary"></i>
                                        <span class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Generous PTO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div id="career_openings" class="career-openings section panel overflow-hidden pb-6 xl:pb-9">
        <div class="section-outer panel py-6 xl:py-9 bg-secondary dark:bg-gray-800">
            <div class="container max-w-lg">
                <div class="section-inner panel">
                    <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8 max-w-850px mx-auto">
                        <h2 class="h4 sm:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Current openings</h2>
                        <div class="panel">
                            <div class="row child-cols-12 sm:child-cols-6 col-match g-2 sm:g-3" data-uc-grid data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                               
                                <% jobs.forEach(item => { %>
                                <div>
                                    <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <div class="vstack gap-narrow">
                                            <h5 class="h6 lg:h5 m-0"><%= item.title %></h5>
                                            <span class="fs-6 text-dark dark:text-white text-opacity-70"><%= item.workMode.replace(/_/g, ' ') %></span>
                                        </div>
                                        <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='/listing-enquiry/<%= item.seoDetails.slug %>'>
                                            <span>Apply now</span>
                                            <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                                <div>
                                    <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <div class="vstack gap-narrow">
                                            <h5 class="h6 lg:h5 m-0">Senior Python Engineer, Growth</h5>
                                            <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house</span>
                                        </div>
                                        <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                            <span>Apply now</span>
                                            <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <div class="vstack gap-narrow">
                                            <h5 class="h6 lg:h5 m-0">Director of Accounting</h5>
                                            <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house</span>
                                        </div>
                                        <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                            <span>Apply now</span>
                                            <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <div class="vstack gap-narrow">
                                            <h5 class="h6 lg:h5 m-0">Director, Marketing Operations</h5>
                                            <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house (Preferably), Remotly</span>
                                        </div>
                                        <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                            <span>Apply now</span>
                                            <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <div class="vstack gap-narrow">
                                            <h5 class="h6 lg:h5 m-0">Team Lead, Data Science</h5>
                                            <span class="fs-6 text-dark dark:text-white text-opacity-70">Remotly</span>
                                        </div>
                                        <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                            <span>Apply now</span>
                                            <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel vstack justify-end items-end gap-1 p-3 rounded lg:rounded-2 bg-white dark:bg-gray-800">
                                        <div class="vstack gap-narrow">
                                            <h5 class="h6 lg:h5 m-0">Director of Product Research</h5>
                                            <span class="fs-6 text-dark dark:text-white text-opacity-70">In-house (Preferably), Remotly</span>
                                        </div>
                                        <a class='uc-link fs-7 fw-bold d-inline-flex items-center gap-narrow border-bottom pb-narrow' href='page-career-detail.html'>
                                            <span>Apply now</span>
                                            <i class="icon icon-narrow unicon-arrow-up-right fw-bold rtl:-rotate-90"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div id="clients_feedbacks" class="clients-feedbacks section panel overflow-hidden">
        <div class="section-outer panel pb-6 xl:pb-9">
            <div class="container max-w-lg">
                <div class="section-inner panel">
                    <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <h2 class="h4 sm:h3 lg:h2 m-0 text-center">What clients said about us:</h2>
                        <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 justify-center col-match g-2 lg:g-3" data-uc-grid>
                            <div>
                                <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                    <div class="panel vstack items-start gap-2">
                                        <div class="panel">
                                            <div class="hstack h-48px">
                                                <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-07.svg" alt="Brand" data-uc-svg>
                                            </div>
                                        </div>
                                        <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“We’re looking for people who share our vision! most of our time used to be taken up by most of alternate administrative work whereas now we can focus on building out to help our employees.”</p>
                                    </div>
                                    <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                        <img class="w-40px rounded-circle" src="../assets/images/avatars/01.png" alt="Mark Zellers">
                                        <div class="panel vstack items-start gap-0">
                                            <h6 class="h6 m-0">Mark Zellers</h6>
                                            <span class="fs-7 opacity-70">CEO, Co-Founder.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                    <div class="panel vstack items-start gap-2">
                                        <div class="panel">
                                            <div class="hstack h-48px">
                                                <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-06.svg" alt="Brand" data-uc-svg>
                                            </div>
                                        </div>
                                        <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“This powerfull tool eliminates the need to leave Salesforce to get things done as I can create a custom proposal with dynamic pricing tables, and get approval from my boss all within 36 minutes.”</p>
                                    </div>
                                    <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                        <img class="w-40px rounded-circle" src="../assets/images/avatars/04.png" alt="Natalia Larsson">
                                        <div class="panel vstack items-start gap-0">
                                            <h6 class="h6 m-0">Natalia Larsson</h6>
                                            <span class="fs-7 opacity-70">Director of Sales</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                    <div class="panel vstack items-start gap-2">
                                        <div class="panel">
                                            <div class="hstack h-48px">
                                                <img class="w-128px text-gray-900 dark:text-white" src="https://unistudio.co/html/lexend/assets/images/brands/brand-08.svg" alt="Brand" data-uc-svg>
                                            </div>
                                        </div>
                                        <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“We are based in Europe and the latest Data Protection Regulation forces us to look for service suppliers than comply with this regulation and as we look to create our website and this builder just outstanding!”</p>
                                    </div>
                                    <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                        <img class="w-40px rounded-circle" src="../assets/images/avatars/03.png" alt="Sarah Edrissi">
                                        <div class="panel vstack items-start gap-0">
                                            <h6 class="h6 m-0">Sarah Edrissi</h6>
                                            <span class="fs-7 opacity-70">Lead Marketing</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="uc-link fw-bold d-inline-flex items-center gap-narrow">
                            <span>See all feedbacks</span>
                            <i class="icon icon-1 unicon-arrow-right rtl:rotate-180"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div id="trusted_brands" class="trusted-brands section panel">
        <div class="section-outer panel pb-6 xl:pb-9">
            <div class="container max-w-xl">
                <div class="section-inner panel">
                    <div class="review-brands panel vstack justify-center gap-4 overflow-hidden text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                        <div class="panel">
                            <div class="brands hstack gap-4 justify-between max-w-950px mx-auto">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/01.svg" alt="Trustpilot" class="dark:d-none">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-01.svg" alt="Trustpilot" class="d-none dark:d-block">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/02.svg" alt="Trustpilot" class="dark:d-none">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-02.svg" alt="Trustpilot" class="d-none dark:d-block">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/03.svg" alt="Trustpilot" class="dark:d-none">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-03.svg" alt="Trustpilot" class="d-none dark:d-block">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/04.svg" alt="Trustpilot" class="dark:d-none">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-04.svg" alt="Trustpilot" class="d-none dark:d-block">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/05.svg" alt="Trustpilot" class="dark:d-none">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-05.svg" alt="Trustpilot" class="d-none dark:d-block">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/06.svg" alt="Trustpilot" class="dark:d-none">
                                <img src="https://unistudio.co/html/lexend/assets/images/review-logo/dark-06.svg" alt="Trustpilot" class="d-none dark:d-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div id="blog_posts" class="section panel overflow-hidden gap-3 bg-secondary dark:bg-gray-800">
        <div class="section-outer panel py-6 xl:py-9">
            <div class="container max-w-xl">
                <div class="section-inner panel">
                    <div class="panel vstack items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <h2 class="h3 lg:h2 xl:h1 max-w-400px lg:max-w-750px m-auto text-center">Gain valuable insights</h2>
                        <div class="panel">
                            <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 justify-center g-2 xl:g-4">
                                <div>
                                    <article class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-white dark:bg-gray-800">
                                        <a class='position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1' href='blog.html' style='border-radius: 8px'>Strategy</a>
                                        <figure class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/blog/img-11.jpg" alt="Top 5 reasons to invest in marketing">
                                            <a class='position-cover' data-caption='Top 5 reasons to invest in marketing' href='blog-details.html'></a>
                                        </figure>
                                        <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                            <h3 class="h5 xl:h4 m-0 text-center m-0">
                                                <a class='text-none' href='blog-details.html'>Top 5 reasons to invest in marketing</a>
                                            </h3>
                                            <ul class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                                <li>
                                                    <div class="hstack gap-narrow ft-tertiary">
                                                        <img src="../assets/images/avatars/02.png" alt="David" class="w-24px h-24px rounded-circle me-narrow">
                                                        <a href="page-author.html" class="text-none fw-bold text-dark dark:text-white">David</a>
                                                    </div>
                                                </li>
                                                <li class="opacity-50">•</li>
                                                <li>
                                                    <div class="post-date hstack gap-narrow">
                                                        <span>Apr 3, 2024</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </header>
                                    </article>
                                </div>
                                <div>
                                    <article class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-white dark:bg-gray-800">
                                        <a class='position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1' href='blog.html' style='border-radius: 8px'>Marketing</a>
                                        <figure class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/blog/img-12.jpg" alt="How can marketing help your business?">
                                            <a class='position-cover' data-caption='How can marketing help your business?' href='blog-details.html'></a>
                                        </figure>
                                        <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                            <h3 class="h5 xl:h4 m-0 text-center m-0">
                                                <a class='text-none' href='blog-details.html'>How can marketing help your business?</a>
                                            </h3>
                                            <ul class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                                <li>
                                                    <div class="hstack gap-narrow ft-tertiary">
                                                        <img src="../assets/images/avatars/06.png" alt="Allen" class="w-24px h-24px rounded-circle me-narrow">
                                                        <a href="page-author.html" class="text-none fw-bold text-dark dark:text-white">Allen</a>
                                                    </div>
                                                </li>
                                                <li class="opacity-50">•</li>
                                                <li>
                                                    <div class="post-date hstack gap-narrow">
                                                        <span>Apr 3, 2024</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </header>
                                    </article>
                                </div>
                                <div>
                                    <article class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-white dark:bg-gray-800">
                                        <a class='position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1' href='blog.html' style='border-radius: 8px'>Business</a>
                                        <figure class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/blog/img-13.jpg" alt="The ultimate guide to marketing success">
                                            <a class='position-cover' data-caption='The ultimate guide to marketing success' href='blog-details.html'></a>
                                        </figure>
                                        <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                            <h3 class="h5 xl:h4 m-0 text-center m-0">
                                                <a class='text-none' href='blog-details.html'>The ultimate guide to marketing success</a>
                                            </h3>
                                            <ul class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                                <li>
                                                    <div class="hstack gap-narrow ft-tertiary">
                                                        <img src="../assets/images/avatars/01.png" alt="Kevin" class="w-24px h-24px rounded-circle me-narrow">
                                                        <a href="page-author.html" class="text-none fw-bold text-dark dark:text-white">Kevin</a>
                                                    </div>
                                                </li>
                                                <li class="opacity-50">•</li>
                                                <li>
                                                    <div class="post-date hstack gap-narrow">
                                                        <span>Apr 1, 2024</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </header>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <a class='uc-link fw-bold d-inline-flex items-center gap-narrow' href='blog.html'>
                            <span>View more articles</span>
                            <i class="icon icon-1 unicon-arrow-right rtl:rotate-180"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->
</div>



<%- include('footer') %>